<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cross_lite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <cross_lite.Properties.Settings>
            <setting name="points_cl_rang" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="serveur" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="bdd" serializeAs="String">
                <value>Chronocross</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>Cross</value>
            </setting>
            <setting name="psw" serializeAs="String">
                <value>Password1234</value>
            </setting>
        </cross_lite.Properties.Settings>
    </userSettings>
</configuration>